<%= simple_form_for @cronograma, :html => { :class => 'form-horizontal', :remote => true } do |f| %>
  <%= f.input :fecha %>
  <%= f.input :lugar_salida %>
  <%= f.input :ficha_grupo %>
  <%= f.input :tipo_salida_id %>
  <%= f.input :programa %>
  <%= f.input :descripcion %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                cronogramas_path, :class => 'btn' %>
  </div>
<% end %>
