<%- model_class = Cronograma -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:fecha) %></th>
      <th><%= model_class.human_attribute_name(:lugar_salida) %></th>
      <th><%= model_class.human_attribute_name(:ficha_grupo) %></th>
      <th><%= model_class.human_attribute_name(:tipo_salida_id) %></th>
      <th><%= model_class.human_attribute_name(:programa) %></th>
      <th><%= model_class.human_attribute_name(:descripcion) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <%= render @cronogramas %>
      
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_cronograma_path,
            :class => 'btn btn-primary',
            :remote => true %>
